td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  vertical-align: middle;
}

th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.scrl {
    height: 800px;
    overflow: scroll;
}

/* black table header */
.bth {
  background-color: #000000;
  border-color: inherit;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
}

.bth:first-child {
  text-indent: 2em;
}

/* table row cell */
.trc {
  border-color: inherit;
  text-align: center;
  min-width: 37px;
  font-size: 26px;
  padding: 0;
}

/* questions */
.trc:nth-child(2) {
  text-align: left;
  font-size: 14px;
  padding: 10px 5px;
}

/* checkboxes */
.check {
  cursor: pointer;
}

/* banded row */
.bd {
  background-color: #dddddd;
}
