/* checkboxes */
.td-check {
  cursor: pointer;
  min-width: 30px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
@media screen and (min-width: 320px) {
  .td-check {
    min-width: calc(25px + 25 * ((100vw - 320px) / 1000));
  }
}
@media screen and (min-width: 1000px) {
  .td-check {
    min-width: 50px;
    font-size: 25px;
  }
}

img.logo {
  cursor: pointer;
  max-width: 200px;
  height: auto;
}

.scale-text {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .scale-text {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1000));
  }
}
@media screen and (min-width: 1000px) {
  .scale-text {
    font-size: 20px;
  }
}

.opacity-30 {
  opacity: 0.3;
}

.zoom {
  zoom: 1.5;
  -moz-transform: scale(1.5);
}

/*ABOUT PAGE*/
.jumbotron {
  background-image: url('./images/background_friends.jpg');
  background-size: cover;
}

.difference {
  color: white;
  mix-blend-mode: difference;
  filter: drop-shadow(0.05em 0.05em grey);
}

/*MENU*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.menu-button {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  pointer-events: all;
}
