/* checkboxes */
.td-check {
  cursor: pointer;
  min-width: 30px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
@media screen and (min-width: 320px) {
  .td-check {
    min-width: calc(30px + 25 * ((100vw - 320px) / 1000));
  }
}
@media screen and (min-width: 1000px) {
  .td-check {
    min-width: 50px;
    width: 50px;
    font-size: 25px;
  }
}

img.logo {
  max-width: 200px;
  height: auto;
}

.scale-text {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .scale-text {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1000));
  }
}
@media screen and (min-width: 1000px) {
  .scale-text {
    font-size: 20px;
  }
}

.opacity-30 {
  opacity: 0.3;
}

.zoom {
  zoom: 1.5;
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

/*ABOUT PAGE*/
.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: 0.3rem;
  background-size: cover;
}

.difference {
  color: white;
  mix-blend-mode: difference;
  filter: drop-shadow(0.05em 0.05em grey);
}

/*MENU*/
.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

@media print {
  .overlay,
  img.logo,
  .ShareInfo,
  .RevealButton {
    display: none;
  }
}

.pointer {
  cursor: pointer;
}

.menu-button {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  pointer-events: all;
}

.nickBadge {
  align-items: center;
  background-color: #008080;
  border-radius: 50%;
  color: aliceblue;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  min-height: 28px;
  width: 28px;
}

.nickBadge.myNickBadge {
  background-color: #0b5ed7;
}

.badges {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.badges > .nickBadge:not(:first-of-type) {
  margin-left: -7px;
  border-left: 1px white solid;
}

.nickMenuContainer {
  position: relative;
}

.nickMenu {
  position: absolute;
  display: none;
  right: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.nickMenu :first-child {
  border-top: unset;
}
.nickMenu :last-child {
  border-bottom: unset;
}

.nickBadge:hover .nickMenu {
  display: flex;
}
